<main>
  <nav class="bg-[#6F72C0] text-white p-3">
    <div
      class="container mx-auto max-w-screen-lg text-center px-4 items-center justify-center md:flex md:text-left md:justify-between"
    >
      <div class="font-bold text-sm pb-4 md:text-base md:pb-0">
        Announcements: Earn upto 10% for every user you bring to ULLWEB and 2.5%
        of all thier spend for 2 years
      </div>
      <a routerLink="/faq" class="border border-white text-sm py-2 px-4">
        Get Started
      </a>
    </div>
  </nav>

  <nav class="bg-white px-4 text-[#6F72C0] md:shadow-md">
    <div
      class="container flex mx-auto max-w-screen-xl py-4 items-center justify-between"
    >
      <div class="flex space-x-8">
        <div>LOGO</div>

        <div class="flex space-x-4 hidden md:block">
          <a routerLink="#" class="font-bold hover:underline">How it Works</a>
          <a routerLink="#" class="font-bold hover:underline">Features</a>
          <a routerLink="#" class="font-bold hover:underline">Pricing</a>
          <a routerLink="#" class="font-bold hover:underline">Enterprise</a>
        </div>
      </div>

      <div class="flex space-x-4 hidden md:block">
        <a routerLink="#login" class="bg-gray-900 text-white text-sm py-2 px-4">
          Get Started
        </a>

        <a
          routerLink="#login"
          class="bg-[#6F72C0] text-white text-sm py-2 px-4"
        >
          LOG IN
        </a>
      </div>

      <div class="md:hidden">MENU</div>
    </div>
  </nav>
</main>
